.App {
  text-align: center;
}

.Navbar {
  height: 10vh;
  background-color: steelblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  list-style: none;
} 

.Links > li {
  cursor: pointer;
  color: #fff;
}
